.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
.project
.idea/
.svn/
.externalToolBuilders/
gradle/
.recommenders/
.metadata/

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln